/*-------------------------*\
   DASHBOARD
\*-------------------------*/

#form-energy {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.alert-top {
    position: absolute !important;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    z-index: 100;
}

.card {
    transition: 0.4s;
    cursor: pointer;
    margin-bottom: 1rem;
    border-color: rgba(231, 243, 241, 0.7);
}

.card-top:hover {
    background-color: rgb(75, 158, 99);
    transform: translateY(-5px);
}

.card-icons {
    font-size: 3rem;
}

.dashboard-chart {
    border: 1px solid rgb(168, 170, 169);
    border-radius: 5px;
    padding-inline: 3px;
}

.div-charts {
    max-height: 50vh;
}

/*-------------------------*\
   DETAILS
\*-------------------------*/

.delete-icon {
    transition: 30ms;
    font-size: 1.5rem;
}

.delete-icon:hover {
    transition: 30ms;
    transform: scale(1.1);
    /* filter: drop-shadow(0 5px 5px rgba(206, 200, 200, 0.8)); */
}