<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Web</title>
</head>
<body>
    <h1>Login</h1>

    <h3> Registro </h3>
    <form method="post" id="form-register">
        <input type="email" id="email-register" placeholder="email" required>
        <input type="password" id="password-register" placeholder="password" required>
        <input type="text" id="username" placeholder="Nombre" required>
        <input type="text" id="lastname" placeholder="Apellido" required>
        <button type="submit">Enviar</button>
    </form>

    <h3> Iniciar Sesion </h3>
    <form method="post" id="form-login">
        <input type="email" id="email-login" placeholder="email" required>
        <input type="password" id="password-login" placeholder="password" required>
        <button type="submit">Enviar</button>
    </form>

    <button id="google-login">Iniciar sesión con Google</button>

    <a href="index.html">Home</a>
    
    <!-- <script type="module" src="../js/routes.js"></script> -->
    <script type="module" src="../js/login.js"></script>
</body>
</html>